@import "variables";

.container {
    padding: 100px;
}

.landing-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF9ED;
    z-index: 4;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 991px) {
    .landing-header {
        display: flex;
        align-items: center;
        height: 100px;
    }
    
    .sticky-header {
        height: 70px;
    }
}

.open-todaysDeath-button {
    background: #f8bd4a;
    border: 1px solid #f8bd4a;
    border-radius: 8px;
    line-height: 1;
    padding: 11px 25px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.open-todaysDeath-button:hover {
    background: #fff;
    color: #f8bd4a;
}