<div class="footerWrap">
    <div class="container">
        <div class="d-flex justify-content-center align-content-center footerContent">
            <span class="mx-md-5 fs-6 fw-bold" href="/">
                @CopyRight 2023
             </span>
        </div>
    </div>
</div>