<div class="z-index-2 contentWrap">
    <div id="row01" class="row w-100 gy-0 gx-0">
        <div id="divSlotImage" class="col-md-12 px-0">
            {{>home-map}}
        </div>
    </div>
</div>

<script>
    var header = $(".landing-header");
    var headerHeight = header.outerHeight();
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= headerHeight) {
            header.addClass("sticky-header");
        } else {
            header.removeClass("sticky-header");
        }
    });
</script>
